body {
	background:url(../images/foodbkg.jpg) no-repeat center center fixed;
	background-size: cover;
}
.navbar {
	margin-top: 20px;
	opacity: .9;
}
#checkIn {
	margin-bottom: 20px;
	opacity: .9;
}
.jumbotron {
	margin: auto;
	 font-family: 'Rock Salt', cursive;
}

.input-group {
	margin-top: 20px;
}
table {
	background-color:white;
}
th {
	background-color:f8f5f0;
}
.well {
	margin: auto;
}
.opaque {
  min-height: 100%;
  position: relative;
  opacity: 0.8;
}

footer {
	opacity: 0.8;
	padding:auto;
	margin-bottom: 15px;
}
.item {
	height: 200px;
}
.input-food{
	margin-bottom: 20px;
}
h3 {
	font-family: "Times New Roman", cursive;
}
.navbar-brand {
	font-family:'Rock Salt', cursive;
}
.green {
	background-color:#93c54b;
}

.btnBorder {
	border-width: 2px;
	border-style: solid;
	border-color:white;
}
footer {
	bottom: 0;
	color: white;
	text-align: center;
}

.logo{
	 width: 150px;
	 height: auto;
}
