body {
	background:url(../images/foodbkg.jpg) no-repeat center center fixed;
	background-size: cover;
}
.jumbotron {
	margin: auto;
}
.input-group {
	margin: auto;
}
table {
	background-color:white;
}
th {
	background-color:f8f5f0;
}
.well {
	margin: auto;
}
.opaque {
  min-height: 100%;
  position: relative;
  opacity: 0.8;
}
.solid {
	opacity: 1;
}
