body {
	background:url(../images/foodbkg.jpg) no-repeat center center fixed;
	background-size: cover;
}
.jumbotron {
	margin: auto;
	 font-family: 'Rock Salt', cursive;
}
.input-group {
	margin: auto;
}
table {
	background-color:white;
}
th {
	background-color:f8f5f0;
}
.well {
	margin: auto;
}
.opaque {
  min-height: 100%;
  position: relative;
  opacity: 0.8;
}
.solid {
	opacity: 1;
}
footer {
	opacity: 0.8;
	padding:auto;
}
.item {
	height: 200px;
}
.input-food{
	margin-bottom: 20px;
}
h3 {
	font-family: "Times New Roman";
}